{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow p-4">
        <h3 class="text-center mb-3">Login</h3>

        <!-- Login Type Selection -->
        

        <form method="post">
          {% csrf_token %}
          <input type="text" name="institution_name" class="form-control mb-3" placeholder="Institution Name" required>
          <input type="password" name="password" class="form-control mb-3" placeholder="Password" required>

          <button class="btn btn-primary w-100">Login</button>
        </form>

        <p class="text-center mt-3">
          Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>
        </p>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/alerts.js' %}"></script>
{% if error %}
  <script>
    showErrorAlert("{{ error }}");
  </script>
{% endif %}
{% if success %}
  <script>
    showSuccessAlert("{{ success }}");
    setTimeout(function() {
      window.location.href = "{% url redirect %}";
    }, 2000);
  </script>
{% endif %}

{% endblock %}
