{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card shadow p-4">
        <h3 class="text-center mb-3">Institution Signup</h3>

        <form method="post">
          {% csrf_token %}
          <input type="text" name="institution" class="form-control mb-3" placeholder="Institution Name" required>
          
          <input type="text" name="institution" class="form-control mb-3" placeholder="Username Name" required>
          <input type="email" name="email" class="form-control mb-3" placeholder="Email" required>
          <input type="password" name="password" class="form-control mb-3" placeholder="Password" required>

          <button class="btn btn-success w-100">Create Account</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
